body {
    background-color: rgb(97, 97, 97);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    
}

button {
    height: 60px;
    width: 60px;
    font-size: 25px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 10px;    
}

button:hover{
    background-color: rgb(58, 58, 58);
    transition: all .5s;
    cursor: pointer;
}

.tela {
    font-size: 30px;
    background-color: azure;
    min-height: 35px;
    border-radius: 8px;
    border: 2px solid black;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.calculator {
    border: 2px solid black;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(161, 161, 161);
}